<!doctype html>
<html lang="en">
<head>
    <title>RescueBox API</title>
    <link rel="stylesheet" href="{{ url_for('static', path='pure.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='panes.css') }}"/>
</head>
<body>


<div class="split content split-horizontal" id="left-pane">
    <h1>RescueBox API</h1>
</div>

<div class="split content split-horizontal" id="right-pane">

    <div id="form-div">
        <p>Select a command in left pane.</p>
    </div>
</div>

</body>
</html>